{% extends 'base.html' %}

{% block title %}
<title>Listado de libros</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Listado de libros
</h1>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'crear_libro' %}>Crear Libro</a>
</p>

<p>
    <form action={% url 'listado_libros' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if listado_libros %}
    <ul>
        {% for libro in listado_libros %}
        <li>{{libro}}
        <a href={% url 'editar_libro' libro.id %}>Editar</a>
        <a href={% url 'mostrar_libro' libro.id %}>Mostrar</a>
        <a href={% url 'eliminar_libro' libro.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock despues_del_header %}